extends layout

block content
  h1= title
  
  section 
    each message in messages
      div
        h3=message.text 
        p=message.user
        p=`${message.added.toLocaleTimeString()}  ${message.added.toDateString()}`
